{% extends "basis.twig" %}

{% block moenchcontent %}
	{% if newsletter %}
	<p>Oh, gibt's nen neuen Newsletter f&uuml;r mich? *freu*</p>
	{% else %}
	<p>Huch, eine Benachrichtigung? Ich bin gespannt!</p>
	{% endif %}
	<p>Noch ein paar Tipps: HTML ist erlaubt, sollte aber nicht zu oft eingesetzt werden, sonst wird das ganze etwas overpowered.<br>
    z.B. <b>fett</b> gibt's durch &lt;b&gt;text&lt;/b&gt;, <i>kursiv</i> mit &lt;i&gt;text&lt;/i&gt;.
    Wenn du irgendwo {{ '{{USER}}' }} eingibst, wird das mit dem Namen des Empf&auml;ngers ersetzt. Damit kannst du den Text viel pers&ouml;nlicher machen!</p>
{% endblock %}

{% block content %}
	<form method=post action={{ global.request.uriForPath("/admin/preview") }}>
	<button>Fertig, bereit zum senden, los, abschicken!</button>
	<textarea name=content rows=9 cols=100>Hallo {{ '{{USER}}' }}, …</textarea>
	</form>
{% endblock %}
