<!DOCTYPE HTML>
{# Grundgerüst #}
{#	{% Forschleifen, ... ausführen %}	#}
{#	{{ Ausdruck ausgeben }}	#}
{# Bildaufruf: src="{{ app.request.uriForPath("/views/dateiname.png") }}"	#}
<html>
	<head>
		<meta charset="utf-8">
		<title>Huffle-News</title>
		<link rel="stylesheet" href="{{ app.request.uriForPath("/views/style.css") }}">
		{% block description %}{% endblock %}
		<!--[if lt IE 9]>
		<script src="/assets/html5shiv.1.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<a href="/"><img id="logo" src="{{ app.request.uriForPath("/views/logo.png") }}" alt="Huffle-Home"></a>
			<nav>
				<ul id="topnav">
					<li><a href="/">Home</a></li><!-- Whitespace durch Kommentar wegnehmen
					--><li><a href="/forum">Forum</a></li><!--
					--><li><a href="http://hufflepuffchat.mainchat.de">Chat</a></li><!--
					--><li><a href="/forum/index.php?page=RGallery">Galerie</a></li><!--
					--><li><a href="/forum/index.php?page=Team">Team</a></li><!--
					--><li><a class="aktiv" href="/newsletter">Newsletter</a></li><!--
					--><li><a href="/links">Links</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<div id="text">
			<h1>Huffle-News</h1>
			{% autoescape true %}
			{% block moenchcontent %}{% endblock %}
			{% endautoescape %}
			</div>
			<div id="moench">
				<img id="moenchbild" src="{{ app.request.uriForPath("/views/moench.png") }}" alt="">
			</div>
		</div>
		<div id="news">
			{% block content %}{% endblock %}
		</div>
		<footer>
			<a href="/impressum">Impressum</a> – <a href="/nutzungsbedingungen">Nutzungsbedingungen</a>
		</footer>
	</body>
</html>